@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&family=Overpass:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --opacity: 0.5;
    --blur: 1px;
    --color: #ffffff;
}
body{
    min-height: 100vh;
    color: white;
    font-size: 1.25rem;
    font-family: 'Overpass', sans-serif;
    position: relative;
}
body .bg-blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg.svg.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
    transform: scaleX(-1);
    filter: blur(var(--blur));
}
main{
    max-width: 1100px;
    height: 100vh;
    animation: fromLeft .5s linear;
    position: relative;
}
@keyframes fromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
main .bg-opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    opacity: var(--opacity);
    z-index: -1;
}
main nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem 5rem;
    animation: fadeIn .9s linear;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
nav .logo{
    font-size: 2rem;
    font-weight: 800;
}
.logo span{
    color: var(--color);
}
nav .customize{
    font-weight: 300;
    cursor: pointer;
    position: relative;
}
.customize .fa-gear{
    color: var(--color);
    margin-left: .5rem;
    animation: all .3s linear;
}
.customize.active .fa-gear{
    transform: rotate(360deg);
}
.customize .control{
    display: none;
}
.customize.active .control{
    position: absolute;
    display: block;
    color: black;
    background: white;
    list-style-type: none;
    border-radius: .5rem;
    padding: 1rem;
}
main .text-content{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    max-width: 700px;
    margin: 5rem;
    animation: fadeIn 1.3s linear;
}
.text-content h1{
    max-width: 550px;
    color: var(--color);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
@media(max-width:800px){
    body{
        font-size: 1rem;
    }
    main nav{
        align-items: center;
        padding: 2rem 3rem;
    }
    main .text-content{
        top: 50%;
        margin: 3rem;
    }
    .text-content h1{
        font-size: 3rem;
        max-width: 400px;
    }
}
@media(max-width:426px){
    main nav{
        padding: 1.5rem;
    }
    main .text-content{
        text-align: center;
        margin: 1.5rem;
    }
    .text-content h1{
        font-size: 2rem;
    }
}
